<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>fitanywhere</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <!-- 搬過去的時候，要把這邊註解打開 -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/plugins/sal.css">
    <link rel="stylesheet" href="assets/css/plugins/feather.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style_add.css"> -->

    <!-- 搬過去的時候，這邊link要註解起來 -->
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/vendor/slick.css">
    <link rel="stylesheet" href="../assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="../assets/css/plugins/sal.css">
    <link rel="stylesheet" href="../assets/css/plugins/feather.css">
    <link rel="stylesheet" href="../assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="../assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="../assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="../assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="../assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="../assets/css/plugins/animation.css">
    <link rel="stylesheet" href="../assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="../assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="../assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="../assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/style_add.css">

</head>

<body class="rbt-header-sticky index-body">

    <!-- 剛開會沒看到，滾軸要記得滾下去 -->
    <!-- component goTop 跳到最上面 -->
    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="assets/js/vendor/sal.js"></script>
    <script src="assets/js/vendor/swiper.js"></script>
    <script src="assets/js/vendor/magnify.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/odometer.js"></script>
    <script src="assets/js/vendor/backtotop.js"></script>
    <script src="assets/js/vendor/isotop.js"></script>
    <script src="assets/js/vendor/imageloaded.js"></script>

    <script src="assets/js/vendor/wow.js"></script>
    <script src="assets/js/vendor/waypoint.min.js"></script>
    <script src="assets/js/vendor/easypie.js"></script>
    <script src="assets/js/vendor/text-type.js"></script>
    <script src="assets/js/vendor/jquery-one-page-nav.js"></script>
    <script src="assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="assets/js/vendor/jquery-ui.js"></script>
    <script src="assets/js/vendor/magnify-popup.min.js"></script>
    <script src="assets/js/vendor/paralax-scroll.js"></script>
    <script src="assets/js/vendor/paralax.min.js"></script>
    <script src="assets/js/vendor/countdown.js"></script>
    <script src="assets/js/vendor/plyr.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
    <script>
                $(document).ready(function() {
                    console.log($('.scroll-animation.scroll-right-left'))
                    const imgText = [
                        {
                            src:'assets/images/andy/IMG_0879.JPG',
                            text:'test1'
                        },
                        {
                            src:'https://marketing-prd.s3.amazonaws.com/goodjob/frontend/imgs/台北前端班_周廷翰.jpg',
                            text:'技術支援'
                        },
                        {
                            src:'assets/images/andy/DC6D26C9-A632-4A85-8F10-28A65CE7D91A_1_105_c.jpeg',
                            text:'技術指導'
                        },
                        {
                            src:'assets/images/andy/4CB38D77-0199-4DF4-BA6F-FD10D5D16CA3.jpeg',
                            text:'我老婆'
                        },
                        {
                            src:'assets/images/about/about-03.jpg',
                            text:'test3'
                        },{
                            src:'assets/images/andy/C4749C2E-02A0-4ADA-A049-75BA0718F26F.jpeg',
                            text:'test3'
                        },{
                            src:'assets/images/about/about-03.jpg',
                            text:'test3'
                        },{
                            src:'assets/images/about/about-03.jpg',
                            text:'test3'
                        },{
                            src:'assets/images/about/about-03.jpg',
                            text:'test3'
                        },
                        {
                            src:'assets/images/about/about-03.jpg',
                            text:'test3'
                        },{
                            src:'assets/images/about/about-03.jpg',
                            text:'test3'
                        },{
                            src:'assets/images/about/about-03.jpg',
                            text:'test3'
                        }
                    ]
        for(let index in imgText){
        $('.scroll-animation.scroll-right-left').append(`<div class="single-column-20 bg-theme-gradient-odd">
                            <div class="rbt-testimonial-box style-2">
                                <div class="img-test">
                                    
                                    <img src=${imgText[index].src} alt="Clint Images">
                                </div>
                            </div>
                        </div>`);
    }
        });
        // 可以在這邊寫這一個頁面的jquery
    </script>


<script>
    $(".mainmenu-sub").on("mouseenter mouseleave",function(){
        $(this).find("a").toggleClass("mainmenu-sub-active");
    });


</script>
</body>

</html>