.img-test{
    width: 450px;
    height: 300px;
}
.post{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.head{
    display: flex;
    float:right;
    justify-content: flex-end;
}


/* header.rbt-header div.rbt-header .rbt-header-wrapper.header-transparent{
    background-color: black;
} */

.mainmenu-sub-active {
    color: #F8DE22 !important;
}

.rbt-header .rbt-header-wrapper.rbt-sticky{
    background-color: black;
}

div.inner{
    aspect-ratio: 0.679;
}